<div class="footer-description">
    <img class="quantum-footer-logo" id="footer-logo-img" src="assets/icons/logo used in header.svg" alt="Quantum Logo">
    <div class="footer-description-info">
        <span class="footer-copyright">
            <span>Copyright</span>
            <span aria-hidden="true">&copy;</span>
            <span>2000-2024</span>
        </span>
        <span class="footer-landing-link">
            <a href="/" >
                Zeus Systems Pvt. Ltd.
            </a>
        </span>
        <span >All rights reserved.</span>
    </div>
</div>