<!-- main section -->
<div class="main--section">
    <div class="box">
        <div class="arrow">
            <a href="#">
                <img src="assets/icons/back.svg" alt="">
            </a>
        </div>
    </div>
    <div class="box ">
        <div class="title">
            Create New Question
        </div>
        
    </div>
    <div class="box ">
        <div class="buttons">
            <button>Discard</button>
            <button>Publish</button>
            <button>Save</button>
        </div>
        
    </div>
 </div>