<nav class="nav--section">
    <div>
        <img src="assets/icons/logo used in header.svg" alt="Logo">
    </div>
    <div class="navigate--links">
        <a href="#">Content</a>
        <a href="#">Users</a>
        <a href="#">Manage Site</a>
        <!-- <a href="#">
            <img src="assets/icons/alerts.svg" alt="">
        </a> -->
        <a href="#">
            <img src="assets/icons/alerts.svg" alt="Alerts">
        </a>
        <a href="#">
            <img src="assets/icons/announcements.svg" alt="Announcements">
        </a>
        <a href="#">
            <img src="assets/icons/account_circle.svg" alt="">
        </a>
    </div>
</nav>