
<div class="highlight-body">
<!-- main section -->
<highlight-main></highlight-main>
<!-- Highlight save and preview -->
<highlight-save-preview></highlight-save-preview>

 <!-- question properties and question content -->
 <div class="qp--section">
    <div class="qp--box">
        <a [routerLink]="['questionProperties']">
            <i class="fa-solid fa-pen qp--section-icons"></i>
            Question Properties
        </a>
    </div>
    <div class="qp--box ">
        <div class="hr-line">
            <hr>
        </div>
        
    </div>
    <div class="qp--box ">
        <a [routerLink]="['questionContent']">
            <i class="fa-solid fa-2 qp--section-icons"></i>
            Question Content
        </a>
        
    </div>
 </div>

 <!-- form -->
        <router-outlet></router-outlet>

    <!-- Add Feedback -->

    <!-- previous button -->
</div>