/* nav section */
.nav--section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0.5% 1.5%; */
    padding: 0 1.5rem;
    background-color:  #0B0B45;
    align-items: center;
    list-style-type: none;
    border: none;
    border-bottom: 2px solid #31b9e4;
    
}

.navigate--links > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigate--links > ul > li{
    margin-left: 2rem;
}

.navigate--links > ul > li > a{
    text-transform: uppercase;
    text-decoration: none;
    color: #3fd28b;
    font-family: "QuickSand_Medium",'Courier New', Courier, monospace;
    font-size: 14px;
}

.navigate--links  ul > li  > a:hover{
    color: #ffffff;
}


.navigate--links  ul > li  > .active{
    color: #ffffff;
    border: none;
    padding: 1.1rem 1rem;
    padding-bottom: 1.2rem;
    border-bottom: 4px solid #ffffff;
}

.navigate--links  ul > li  > .imageActive{
    color: #ffffff;
    border: none;
    height: 1rem;
    padding: 1.1rem 1rem 1rem 1rem;
    border-bottom: 4px solid #ffffff;
}