.label-style{
  font-size: 0.75rem;
  color: #666666;
}

/* Form and checkbox labels */
.form-labels{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-checkbox{
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #1f7a54;
}

.label-checkbox > input[type="checkbox"] {
  /* Hide the native checkbox */
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem 0;
  margin-right: 0.5rem;
  border: 3px solid #1f7a54;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.label-checkbox > input[type="checkbox"]:checked {
  background-color: #1f7a54;
}

.label-checkbox > input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transition: all 0.2s ease;
}

.label-checkbox > input[type="checkbox"]:checked::before {
  content: "";
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: translate(-60%, -60%) rotate(45deg);
  transition: all 0.2s ease;
}
.label-checkbox > input[type="checkbox"]:disabled{
  opacity: 0.4;
  cursor: default;
}
/* 
.label-checkbox > label {
  cursor: pointer;
} */

/* Form and checkbox labels */

.selectors-form {
    display: flex;
    flex-wrap: wrap;
    font-family: "QuickSand_Medium",'Courier New', Courier, monospace;
    font-weight: 600;
    margin: 2rem 0;
  }
  
  .selector-item {
    /* padding: 1px 0px; */
    /* margin: 1px 0px; */
    /* border-radius: 3px; */
    cursor: pointer;
    user-select: none; /* Prevents text selection */
    /* margin: 2rem 0; */
  }
  
 .selected {
    /* background-color: gray; */
    background-color: rgba(238, 240, 231, 0.885);
    border: 1px solid #ccc;
    margin: 0px 2px;
  }

  /* selectors-text-section */
  .selectors-text-section{
    background-color: #f3fbff;
    padding: 2rem 1rem;
    color: #222222;
    width: 100%;
    border-radius: 0.7rem;
    margin: 1.5rem 0;
    text-align: justify;
    line-height: 1.5rem;
  }

  .no-text-section{
    text-align: center;
    font-family: "QuickSand_Medium",'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 0.8rem;
    color: #666666;
  }

  /* For visibility */
  .notVisible{
    opacity: 0.4;
    cursor: default;
  }
