/* Parent Component */
.main-preview {
    width: 90%;
    margin: 1.5rem auto 0 1.5rem;
  }
  /* Visibility of main component' question number, question and answer */
  .preview-section {
    display: flex;
    align-items: flex-start;
    font-family: "QuickSand_Medium",'Courier New', Courier, monospace;
    font-weight: 600;
  }
  
  .preview-section-heading {
    margin-right: 1rem;
  }
  
  .preview-section-questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  /* wrapping the span texts */
  .preview-section-questions-textPhrase {
    color: #222222;
    margin: 1.5rem 0 2rem;
    cursor: default;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.7rem;
    text-align: justify;
  }
  
  
  .highlight {
    background-color: #FFF784;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .line-break {
    width: 100%;
    height: 0;
  }
  
  .selector-item-checking{
    line-height: 20px;
  }

  .selector-item-not-checking{
    line-height: 20px;
  }

.selector-items {
  display: inline;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 0.25rem;
}


  /* To adjust the margin for first element of every para */
  .preview-section-questions-textPhrase>span:first-child{
    margin-left: 0;
  }
  .line-break + span {
    margin-left: 0; 
  }

  .selector-item-correct,.selector-item-incorrect{
    padding: 0.1rem 0rem;
    border: 1px solid #035800;
    padding-left: 0.5rem;
    padding-right: 1rem;
    line-height: 1.8rem;
   
    -webkit-box-decoration-break: clone;

  }

  .selector-item-incorrect{
    border: 1px solid #b00020;
  }
 
  .selector-item-svg,
  .selector-incorrect-item-svg {
    width: 20px;
    margin-bottom: -6.5px;
    padding: 0.17rem;
    height: 19.5px;
  }
  
  .selector-item-svg {
    background-color: #035800;
  }
  
  .selector-incorrect-item-svg {
    background-color: #b00020;
  }
  
  .preview-section-questions-check-button {
    margin-top: 1rem;
  }
  .preview-section-questions-check-button > button:first-child{
    margin-right: 2rem;
  }
  .preview-section-questions-check-button > button{
    background: transparent linear-gradient(180deg, #A3EFFC 0%, #57B9FE 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 36px;
    height: 36px;
    border: none;
    color: #000000;
    
    font-family: "QuickSand_Medium",'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }

  
  .padding-right-1{
    /* margin-left: 0.5rem; */
    margin-left: 5px;
    margin-right: 0.5rem;
  }

  .disable{
    pointer-events: none;
    opacity: 0.5;
  }