<div class="main-preview">
  <ng-container *ngIf="completeQuestion; else noQuestion">
    <div class="preview-section">
      <div class="preview-section-heading">Q.1</div>
      <div class="preview-section-questions">
        <div class="preview-section-questions-question">{{ completeQuestion.question }}</div>
        <div class="preview-section-questions-textPhrase">
          <ng-container *ngFor="let item of completeQuestion.options; let i = index">
            <ng-container *ngIf="item.word !== '\n'; else lineBreak">
              <span
                class="selector-item"
                [ngClass]="getItemClasses(items[i],isChecking)"      
                (mouseover)="onMouseOver(item,i)"
                (mouseout)="onMouseOut(i)"
                (click)="items[i].isHover && handleSelection(item,i)"
              >
                {{ item.word }} 
              </span>
            </ng-container>
            <ng-template #lineBreak>
              <br/>
            </ng-template>
          </ng-container>
        </div>
        <div class="preview-section-questions-check-button">
          <button (click)="onChecking()">Check</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noQuestion>
    <div>There are no questions</div>
  </ng-template>
</div>
