.main-preview{
  width: 80%;
  margin: 1.5rem auto 0 1.5rem;
}
.preview-section{
    display:flex;
    align-items:flex-start;
  }
  
  .preview-section-heading{
    margin-right:1rem;
  }
  
  .preview-section-questions{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .preview-section-questions-textPhrase{
    color: #222222;
    border-radius: 1rem;
    margin: 1.5rem 0 2rem;
    text-align: justify;
    line-height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    cursor: default;
    font-size: 1.2rem;
  }
  
  .highlight {
    background-color: yellow;
    cursor: pointer;
  }
  .green{
    background-color: green;;
  }
  .red{
    background-color: red;
  }
  

  .line-break {
    width: 100%;
    height: 0;
  }
  .selector-item{
    margin: 0 0.3rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .selector-item-checking{
    margin: 0 0.3rem 0.6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .selector-item-heading{
    padding: 0px 1rem 0px 0.5rem;
    border:1px solid #035800;
  }
  .selector-item-svg{
    width:20px;
    background-color:#035800;
    height: 1.5rem;
    padding: 0.1rem;
  }

  .selector-incorrect-item-heading{
    padding: 0px 1rem 0px 0.5rem;
    border:1px solid #b00020;
  }
  .selector-incorrect-item-svg{
    width:20px;
    background-color:#b00020;
    height: 1.5rem;
    padding: 0.1rem;
  }