<ng-container *ngIf="completeQuestion; else noQuestion">
  <div class="preview-section">
    <div class="preview-section-heading">Q.1</div>
    <div class="preview-section-questions">
      <div class="preview-section-questions-question">{{ completeQuestion.question }}</div>
      <div class="preview-section-questions-textPhrase">
        <ng-container *ngFor="let item of completeQuestion.options; let i = index">
          <span
            class="selector-item"
            [ngClass]="{'highlight': items[i].isHover}"
            (mouseover)="onMouseOver(item,i)"
            (mouseout)="onMouseOut(i)"
          >
            {{ item.word }}
          </span>
          <!-- Handle line breaks or paragraph separations -->
          <br *ngIf="item.word === '\n'" />
        </ng-container>
      </div>
      <div class="preview-section-questions-check-button">
        <button>Check</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noQuestion>
  <div>There are no questions</div>
</ng-template>
