.main-preview{
  width: 80%;
  margin: 1.5rem auto 0 1.5rem;
}
.preview-section{
    display:flex;
    align-items:flex-start;
  }
  
  .preview-section-heading{
    margin-right:1rem;
  }
  
  .preview-section-questions{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .preview-section-questions-textPhrase{
    color: #222222;
    border-radius: 1rem;
    margin: 1.5rem 0 2rem;
    text-align: justify;
    line-height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    cursor: default;
  }
  
  .highlight {
    background-color: yellow;
    cursor: pointer;
  }
  .green{
    background-color: green;;
  }
  .red{
    background-color: red;
  }
  

  .line-break {
    width: 100%;
    height: 0;
  }
  .selector-item{
    margin: 0 0.3rem 0 0;
  }